<?xml version="1.0" encoding="utf-8"?>

<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      throwConfigExceptions="true"
      throwExceptions="true"
      autoReload="true">

    <!-- NLog extensions -->

    <extensions>
        <add assembly="NLog.Appsettings.Standard" />
        <add assembly="NLog.Web.AspNetCore" />
    </extensions>

    <!-- Internal variables -->

    <variable name="rawMsg" value="${message}" />
    <variable name="utcTime" value="${date:format=yyyy-MM-dd HH\:mm\:ss.fff:universalTime=true}" />
    <variable name="logLevel" value="${uppercase:${level}:padding=-5}" />
    <variable name="logHead" value="${utcTime}|${right:${logger}:length=60:padding=-60}|${logLevel}" />
    <variable name="inlineMsg"
              value="${event-properties:Title:whenEmpty=${replace:inner=${rawMsg}:searchFor=\\r\\n|\\s:replaceWith= :regex=true}}" />
    <variable name="eventProps"
              value="${replace:inner=${all-event-properties:exclude=Title,Details}:searchFor=,:replaceWith=}" />
    <variable name="instanceId" value="InstanceId=${scope-property:instanceId:whenEmpty=0}" />
    <variable name="scopeProps" value="${instanceId}" />
    <variable name="title" value="${event-properties:Title:whenEmpty=${rawMsg}}" />
    <variable name="details" value="${event-properties:Details:whenEmpty=-}" />
    <variable name="traceId" value="${scope-property:traceId:whenEmpty=-}" />
    <variable name="fullException" value="${exception:format=ToString}" />
    <variable name="inlineException"
              value="${replace:inner=${exception:format=ToString}:searchFor=\\r\\n|\\s:replaceWith= :regex=true}" />
    <variable name="shortInlineException"
              value="${onexception:${exception:format=shortType}\: ${exception:format=rawMsg}" />

    <!-- Logging output targets -->

    <targets>

        <!-- Console output for local debugging (in production can be used fot Startup logs) -->

        <target name="ConsoleLogTarget"
                xsi:type="ColoredConsole"
                useDefaultRowHighlightingRules="true"
                stdErr="true"
                layout="${logHead}|${inlineMsg}|${scopeProps} ${eventProps}|${details}|${traceId}|${inlineException}" />

        <!-- Aggregats all logs sent to any target -->

        <target name="AllLogTarget"
                xsi:type="File"
                fileName="${basedir}/App_Data/Logs/${date:format=yyyy-MM}/${date:format=yyyy-MM-dd}/all.txt"
                layout="${logHead}|${inlineMsg}|${scopeProps} ${eventProps}|${details}|${traceId}|${inlineException}" />

        <!-- Logs unhandled exceptions and critical errors -->

        <target name="ErrorLogTarget"
                xsi:type="File"
                fileName="${basedir}/App_Data/Logs/${date:format=yyyy-MM}/${date:format=yyyy-MM-dd}/errors.txt"
                layout="${logHead}|${rawMsg}|${scopeProps} ${eventProps}|${details}|${traceId}|${fullException}" />

        <!-- Logs events from application code -->

        <target name="AppLogTarget"
                xsi:type="File"
                fileName="${basedir}/App_Data/Logs/${date:format=yyyy-MM}/${date:format=yyyy-MM-dd}/app.txt"
                layout="${logHead}|${title}|${scopeProps} ${eventProps}|${details}|${traceId}|${shortInlineException}" />

        <!-- Logs HTTP request pipeline of ASP.NET Core (not include external requests via HTTP Clients) -->

        <target name="RequestLogTarget"
                xsi:type="File"
                fileName="${basedir}/App_Data/Logs/${date:format=yyyy-MM}/${date:format=yyyy-MM-dd}/requests.txt"
                layout="${logHead}|${inlineMsg}|${instanceId} ${eventProps}|No details|${traceId}|" />

        <!-- Logs application startup and shutdown events from IStartupLogger and HostedServices -->

        <target name="StartupLogTarget"
                xsi:type="File"
                fileName="${basedir}/App_Data/Logs/${date:format=yyyy-MM}/${date:format=yyyy-MM-dd}/startup.txt"
                layout="${logHead}|${title}|${instanceId}|${details}|-|${fullException}" />

    </targets>

    <!-- Rules for routing log events to targets -->

    <rules>

        <!-- Collects all error logs -->

        <logger name="*"
                minlevel="Error"
                writeTo="AllLogTarget, ErrorLogTarget"
                final="true" />

        <!-- Collects logs related to application startup and shutdown (instance lifecycle) -->

        <logger name="MindTrail.ApplicationConfigurator.Logging.StartupLogger"
                minlevel="${appsettings:name=LoggingFeatures.NLog.MinLevels.StartupLogs:default=Debug}"
                writeTo="AllLogTarget, StartupLogTarget"
                final="true" />

        <logger name="MindTrail.WebHost.Services.Hosted.AppLifetimeHostedService"
                minlevel="${appsettings:name=LoggingFeatures.NLog.MinLevels.StartupLogs:default=Debug}"
                writeTo="AllLogTarget, StartupLogTarget"
                final="true" />

        <!-- Collects logs from ASP.NET Core HTTP request pipeline, filtering out "/health" and "/info" endpoints -->

        <logger name="Microsoft.AspNetCore.HttpLogging.*"
                minlevel="${appsettings:name=LoggingFeatures.NLog.MinLevels.RequestLogs:default=Info}"
                writeTo="AllLogTarget, RequestLogTarget"
                final="true">

            <filters defaultAction="Log">
                <when condition="contains('${aspnet-Request-Url}', '/health')"
                      action="Ignore" />
                <when condition="contains('${aspnet-Request-Url}', '/info')"
                      action="Ignore" />
            </filters>
        </logger>

        <!-- Collects logs from application code -->

        <logger name="MindTrail.*"
                minlevel="${appsettings:name=LoggingFeatures.NLog.MinLevels.AppLogs:default=Debug}"
                writeTo="AllLogTarget, AppLogTarget"
                final="true" />

        <!-- Collects logs from EF Core -->

        <logger name="Microsoft.EntityFrameworkCore.*"
                minlevel="${appsettings:name=LoggingFeatures.NLog.MinLevels.EfCoreLogs:default=Warn}"
                writeTo="AllLogTarget"
                final="true" />

        <!-- Filters all other logs -->

        <logger name="*"
                minlevel="${appsettings:name=LoggingFeatures.NLog.MinLevels.OtherLogs:default=Warn}"
                writeTo="AllLogTarget" />
    </rules>

</nlog>