<?xml version="1.0" encoding="utf-8"?>

<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      throwConfigExceptions="true"
      throwExceptions="true"
      autoReload="true">

    <!-- NLog extensions -->

    <extensions>
        <add assembly="NLog.Appsettings.Standard" />
        <add assembly="NLog.RegEx" />
    </extensions>

    <!-- Internal variables -->

    <variable name="rawMsg" value="${message}" />
    <variable name="utcTime" value="${date:format=yyyy-MM-dd HH\:mm\:ss.fff:universalTime=true}" />
    <variable name="logLevel" value="${uppercase:${level}:padding=-5}" />
    <variable name="logHead" value="${utcTime}|${right:${logger}:length=60:padding=-60}|${logLevel}" />
    <variable name="inlineMsg"
              value="${event-properties:Title:whenEmpty=${regex-replace:inner=${rawMsg}:searchFor=\\r\\n|\\s:replaceWith= }}" />
    <variable name="eventProps"
              value="${regex-replace:inner=${all-event-properties:exclude=Title,Details}:searchFor=,:replaceWith=}" />
    <variable name="title" value="${event-properties:Title:whenEmpty=${rawMsg}}" />
    <variable name="details" value="${event-properties:Details:whenEmpty=-}" />
    <variable name="fullException" value="${exception:format=ToString}" />
    <variable name="inlineException"
              value="${regex-replace:inner=${exception:format=ToString}:searchFor=\\r\\n|\\s:replaceWith= }" />
    <variable name="shortInlineException"
              value="${onexception:${exception:format=shortType}\: ${exception:format=Message}" />

    <!-- Logging output targets -->

    <targets>

        <!-- Console output for local debugging (in production can be used fot Startup logs) -->

        <target name="ConsoleLogTarget"
                xsi:type="ColoredConsole"
                useDefaultRowHighlightingRules="true"
                stdErr="true"
                layout="${logHead}|${inlineMsg}|${eventProps}|${details}|${inlineException}" />

        <!-- Aggregats all logs sent to any target -->

        <target name="AllLogTarget"
                xsi:type="File"
                fileName="${basedir}/App_Data/Logs/${date:format=yyyy-MM}/${date:format=yyyy-MM-dd}/all.txt"
                layout="${logHead}|${inlineMsg}|${eventProps}|${details}|${inlineException}" />

        <!-- Logs unhandled exceptions and critical errors -->

        <target name="ErrorLogTarget"
                xsi:type="File"
                fileName="${basedir}/App_Data/Logs/${date:format=yyyy-MM}/${date:format=yyyy-MM-dd}/errors.txt"
                layout="${logHead}|${rawMsg}|${eventProps}|${details}|${fullException}" />

        <!-- Logs events from application code -->

        <target name="AppLogTarget"
                xsi:type="File"
                fileName="${basedir}/App_Data/Logs/${date:format=yyyy-MM}/${date:format=yyyy-MM-dd}/app.txt"
                layout="${logHead}|${title}|${eventProps}|${details}|${shortInlineException}}" />

        <!-- Logs application startup events from IStartupLogger -->

        <target name="StartupLogTarget"
                xsi:type="File"
                fileName="${basedir}/App_Data/Logs/${date:format=yyyy-MM}/${date:format=yyyy-MM-dd}/startup.txt"
                layout="${logHead}|${title}|${eventProps}|${details}|-|${fullException}" />

    </targets>

    <!-- Rules for routing log events to targets -->

    <rules>

        <!-- Collects all error logs -->

        <logger name="*"
                minlevel="Error"
                writeTo="AllLogTarget, ErrorLogTarget"
                final="true" />

        <!-- Filter of authentication handler -->

        <logger name="MindTrail.WebAuth.Handlers.ApiKeyAuthNHandler*"
                minlevel="${appsettings:name=LoggingFeatures.NLog.MinLevels.OtherLogs:default=Warn}"
                writeTo="AllLogTarget"
                final="true" />

        <logger name="MindTrail.WebAuth.Handlers.ApiKeyAuthNHandler*"
                maxlevel="${appsettings:name=LoggingFeatures.NLog.MinLevels.OtherLogs:default=Warn}"
                final="true" />

        <!-- Collects logs related to application startup -->

        <logger name="MindTrail.ApplicationConfigurator.Logging.StartupLogger"
                minlevel="${appsettings:name=LoggingFeatures.NLog.MinLevels.StartupLogs:default=Debug}"
                writeTo="AllLogTarget, StartupLogTarget"
                final="true" />

        <!-- Collects logs from application code -->

        <logger name="MindTrail.AppServices"
                minlevel="${appsettings:name=LoggingFeatures.NLog.MinLevels.AppLogs:default=Debug}"
                writeTo="AllLogTarget, AppLogTarget"
                final="true" />

        <!-- Collects logs from EF Core -->

        <logger name="Microsoft.EntityFrameworkCore.*"
                minlevel="${appsettings:name=LoggingFeatures.NLog.MinLevels.EfCoreLogs:default=Warn}"
                writeTo="AllLogTarget"
                final="true" />

        <!-- Filters all other logs -->

        <logger name="*"
                minlevel="${appsettings:name=LoggingFeatures.NLog.MinLevels.OtherLogs:default=Warn}"
                writeTo="AllLogTarget" />
    </rules>

</nlog>