<?xml version="1.0" encoding="utf-8"?>

<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      throwConfigExceptions="true"
      throwExceptions="true"
      autoReload="true">

    <!-- NLog extensions -->

    <extensions>
        <add assembly="NLog.Appsettings.Standard" />
        <add assembly="NLog.Loki" />
    </extensions>

    <!-- Internal variables -->

    <variable name="batchSize" value="200" />
    <variable name="taskDelayMilliseconds" value="2000" />
    <variable name="orderWrites" value="false" />

    <variable name="rawMsg" value="${message}" />
    <variable name="utcTime" value="${date:format=yyyy-MM-dd HH\:mm\:ss.fff:universalTime=true}" />
    <variable name="logLevel" value="${uppercase:${level}}" />
    <variable name="inlineMsg"
              value="${event-properties:Title:whenEmpty=${replace:inner=${rawMsg}:searchFor=\\r\\n|\\s:replaceWith= :regex=true}}" />
    <variable name="eventProps"
              value="${json-encode:inner=${all-event-properties:exclude=Title,Details}}" />
    <variable name="title" value="${event-properties:Title:whenEmpty=${rawMsg}}" />
    <variable name="details" value="${event-properties:Details}" />
    <variable name="elapsed" value="${event-properties:Elapsed}" />
    <variable name="fullException" value="${exception:format=ToString}" />
    <variable name="inlineException"
              value="${replace:inner=${exception:format=ToString}:searchFor=\\r\\n|\\s:replaceWith= :regex=true}" />
    <variable name="shortInlineException"
              value="${onexception:${exception:format=shortType}\: ${exception:format=rawMsg}" />

    <!-- Logging output targets -->

    <targets>

        <!-- Console output for local debugging (in production can be used fot Startup logs) -->

        <target name="ConsoleLogTarget"
                xsi:type="ColoredConsole"
                useDefaultRowHighlightingRules="true"
                stdErr="true"
                layout="${utcTime}|${logger}|${logLevel}|${inlineMsg}|${eventProps}|${details}|${inlineException}" />

        <!-- Aggregats all logs sent to any target -->

        <target name="AllLogTarget"
                xsi:type="loki"
                endpoint="${appsettings:name=LoggingFeatures.Loki.Endpoint}"
                batchSize="${batchSize}"
                taskDelayMilliseconds="${taskDelayMilliseconds}"
                orderWrites="${orderWrites}">
            <layout xsi:type="JsonLayout">
                <attribute name="logtype" layout="All" />
                <attribute name="datetime" layout="${utcTime}" />
                <attribute name="callsite" layout="${logger}" />
                <attribute name="level" layout="${logLevel}" />
                <attribute name="message" layout="${inlineMsg}" />
                <attribute name="details" layout="${details}" />
                <attribute name="eventProperties" layout="${eventProps}" />
                <attribute name="elapsed" layout="${elapsed}" />
                <attribute name="exception" layout="${shortInlineException}" />
            </layout>
            <label name="service" layout="${appsettings:name=LoggingFeatures.Loki.ServiceName}" />
            <label name="logtype" layout="All" />
        </target>

        <!-- Logs unhandled exceptions and critical errors -->

        <target name="ErrorLogTarget"
                xsi:type="loki"
                endpoint="${appsettings:name=LoggingFeatures.Loki.Endpoint}"
                batchSize="${batchSize}"
                taskDelayMilliseconds="${taskDelayMilliseconds}"
                orderWrites="${orderWrites}">
            <layout xsi:type="JsonLayout">
                <attribute name="logtype" layout="Errors" />
                <attribute name="datetime" layout="${utcTime}" />
                <attribute name="callsite" layout="${logger}" />
                <attribute name="level" layout="${logLevel}" />
                <attribute name="message" layout="${rawMsg}" />
                <attribute name="details" layout="${details}" />
                <attribute name="eventProperties" layout="${eventProps}" />
                <attribute name="elapsed" layout="${elapsed}" />
                <attribute name="exception" layout="${fullException}" />
            </layout>
            <label name="service" layout="${appsettings:name=LoggingFeatures.Loki.ServiceName}" />
            <label name="logtype" layout="Errors" />
        </target>

        <!-- Logs events from application code -->

        <target name="AppLogTarget"
                xsi:type="loki"
                endpoint="${appsettings:name=LoggingFeatures.Loki.Endpoint}"
                batchSize="${batchSize}"
                taskDelayMilliseconds="${taskDelayMilliseconds}"
                orderWrites="${orderWrites}">
            <layout xsi:type="JsonLayout">
                <attribute name="logtype" layout="App" />
                <attribute name="datetime" layout="${utcTime}" />
                <attribute name="callsite" layout="${logger}" />
                <attribute name="level" layout="${logLevel}" />
                <attribute name="message" layout="${title}" />
                <attribute name="details" layout="${details}" />
                <attribute name="eventProperties" layout="${eventProps}" />
                <attribute name="elapsed" layout="${elapsed}" />
                <attribute name="exception" layout="${shortInlineException}" />
            </layout>
            <label name="service" layout="${appsettings:name=LoggingFeatures.Loki.ServiceName}" />
            <label name="logtype" layout="App" />
        </target>

        <!-- Logs application startup events from IStartupLogger -->

        <target name="StartupLogTarget"
                xsi:type="loki"
                endpoint="${appsettings:name=LoggingFeatures.Loki.Endpoint}"
                batchSize="${batchSize}"
                taskDelayMilliseconds="${taskDelayMilliseconds}"
                orderWrites="${orderWrites}">
            <layout xsi:type="JsonLayout">
                <attribute name="logtype" layout="Startup" />
                <attribute name="datetime" layout="${utcTime}" />
                <attribute name="callsite" layout="${logger}" />
                <attribute name="level" layout="${logLevel}" />
                <attribute name="message" layout="${title}" />
                <attribute name="details" layout="${details}" />
                <attribute name="exception" layout="${shortInlineException}" />
            </layout>
            <label name="service" layout="${appsettings:name=LoggingFeatures.Loki.ServiceName}" />
            <label name="logtype" layout="Startup" />
        </target>

    </targets>

    <!-- Rules for routing log events to targets -->

    <rules>

        <!-- Collects all error logs -->

        <logger name="*"
                minlevel="Error"
                writeTo="AllLogTarget, ErrorLogTarget"
                final="true" />

        <!-- Collects logs related to application startup -->

        <logger name="MindTrail.ApplicationConfigurator.Logging.StartupLogger"
                minlevel="${appsettings:name=LoggingFeatures.NLog.MinLevels.StartupLogs:default=Debug}"
                writeTo="AllLogTarget, StartupLogTarget"
                final="true" />

        <!-- Collects logs from application code -->

        <logger name="MindTrail.AppServices"
                minlevel="${appsettings:name=LoggingFeatures.NLog.MinLevels.AppLogs:default=Debug}"
                writeTo="AllLogTarget, AppLogTarget"
                final="true" />

        <!-- Collects logs from EF Core -->

        <logger name="Microsoft.EntityFrameworkCore.*"
                minlevel="${appsettings:name=LoggingFeatures.NLog.MinLevels.EfCoreLogs:default=Warn}"
                writeTo="AllLogTarget"
                final="true" />

        <!-- Filters all other logs -->

        <logger name="*"
                minlevel="${appsettings:name=LoggingFeatures.NLog.MinLevels.OtherLogs:default=Warn}"
                writeTo="AllLogTarget, AllLogTargetConsole" />

    </rules>

</nlog>